.Home img {
	width: 400px;
	height: 300px;
	margin: 20px;
	display: flex;
	flex-direction: column;
}

.Home {
	text-align: center;
}

.flexColumn {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.Home div {
	display: flex;
	flex-direction: row;
	align-items: center;
}
