html,
body,
#root {
	margin: 0;
	padding: 0;
	height: 100%;
	text-align: center;
	background-image: linear-gradient(45deg, #cad2c5, #354f52);
	color: #2f3e46;
}

a {
	color: #0000ff;
}

img {
	width: 400px;
	height: 300px;
	margin: 20px;
}
